@font-face {
    font-family: BYekan;
    src: url(../fonts/BYekan.eot ) format('eot'),
    url(../fonts/BYekan.woff) format('woff'),
    url(../fonts/BYekan.ttf) format('truetype')
}
body{
    font-family: "B Yekan "!important;
}
#contentHeader h1 {
    font-size: 22px;
    font-weight: 600;
    position: relative;
    left: 0;
    top: 16px;
    padding-right: 15px;
    float: right;
}
.widget-header h3 {
    font-size: 14px;
    font-weight: 800;
    color: #555;
    line-height: 18px;
    display: inline-block;
    margin-right: 2em;
    position: relative;
    top: 6px;
    left: 10px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    float: right;
}
.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
    background-image: url("../images/sprite/sprite-16-black.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    opacity: 0.7;
    position: relative;
    top: 7px;
    margin-left: -3px;
    margin-right: 14px;
    float: right;
}
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0px none;
    text-align: center;
}
li {
    margin-bottom: 0.5em;
    margin-right: 22px;
}
.form .field-group label {
    font-size: 12px;
    font-weight: 700;
    color: #444;
    display: block;
    margin-bottom: 3px;
    margin-right: 15px;
}
input, textarea, select {
    font-family: "Open Sans",Verdana,"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
    font-size: 18px;
    color: #424242;
    padding: 4px 6px;
    border: 1px solid #CCC;
    outline: medium none;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.btn-green, .btn-success {
    background: transparent -moz-linear-gradient(center top , #CAE0B0 0%, #A6CB7A 2%, #6DA42B 100%) repeat scroll 0% 0%;
    color: #FFF;
    border-color: #619126;
    border-radius: 9px;
    margin-right: 16px;
    margin-top: 11px;
}
div.selector {
    width: 166px;
    font-size: 12px;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: left;
}
.widget-table .dataTables_filter {
    position: absolute;
    top: -36px;
    right: 380px;
}


