


     <div class="row">



     <div class="col-lg-12 col-md-12 col-sm-8 col-xs-10">



     {% extends 'base_panel.html' %}
{% block add %}
    <h3 >اطلاعات کامل معلمین</h3>

		<table class=" table table-bordered table-responsive table-hover">

                <tr>
                    <thead>
                     <th>عکس</th>
					<th>نام</th>
					<th>نام خانوادگی</th>
					<th>کد ملی	</th>
					<th>ادرس</th>
					<th>تلفن همراه</th>
                    <th>ایمیل</th>
                    <th>------</th>
                    </thead>

                </tr>



				{% for UserProfile in teacherforms %}
				<tr>
                    <td>{% if UserProfile.imgfile %}<img src="{{ UserProfile.imgfile.url }} " width="50px"  height="50px">{% endif %}</td>
					<td>{{ UserProfile.first_name }}	</td>
					<td>{{ UserProfile.last_name }} 	</td>
					<td>{{ UserProfile.national_code }}	</td>
					<td>{{ UserProfile.address }}	</td>
					<td>{{ UserProfile.mobile }}	</td>
                    <td>{{ UserProfile.mail }}</td>
                    <td><a class="btn btn-default" href="/et/{{ UserProfile.pk }}" role="button">ویرایش</a></td>
				</tr>
                {% endfor %}
        </table>
    <div class="row " style="margin:0 auto; !important">
      <div class="col-lg-6  col-md-7  col-sm-6 col-xs-5 " data-toggle="validator" role="form">


{% csrf_token %}
       <form id="contactform" class="form-horizontal" action="/teacherview/" method="post" enctype="multipart/form-data">

           <div class="form-group">
               <span class="label label-default">مشخصات مربی</span>
           </div>



               <div class="form-group">
                   <input name="first_name" class="form-control required" type="text"
                          placeholder="نام ">
               </div>
               <div class="form-group">
                   <input name="last_name" class="form-control required" type="text"
                          placeholder="نام خانوادگی  ">
               </div>
               <div class="form-group">
                   <input name="national_code" class="form-control required" type="text"
                          placeholder="کدملی ">
               </div>
               <div class="form-group">
                   <input name="mobile" class="form-control required" type="text"
                          placeholder="....9891+ ">
               </div>
               <div class="form-group">
                   <input name="address" class="form-control required" type="text"
                          placeholder="محل سکونت ">
               </div>
               <div class="form-group">
                   <input name="mail" class="form-control required" type="text" placeholder=Email ">
               </div>
                <div class="form-group ">

                    <input type="file" name="imgfile" id="ax" onclick="" >
               </div>
               <button id="check-form" type="button" class="btn btn-warning">بررسی</button>
               <button id="send" type="submit" class="btn btn-success">ارسال</button>

       </form>
               </div>
</div>


    </div>

    </div>










{% endblock %}
