{% extends 'base_panel.html' %}

{% block add %}
        <div class="row fwc">
            <div class="content2 right w50p">
                {% for data in end_student %}
                    <div class="box1">
                        <img src="{{ data.imgfile.url }}" width="256px"  height="256px">
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="row fwc">
            <div class="content2 right w50p">
                <h2> ثبت نام با موفقیت انجام شد </h2>
                <a href="/add_student/" class="btn btn-info" role="button">بازگشت</a>
            </div>
        </div>
            <div class="content">
                		<h3>مشخصات فردی</h3>
		<table class="table">

				<tr>
					<td>نام		</td>
					<td>نام خانوادگی	</td>
					<td>نام پدر	</td>
					<td>کد قرآن آموزی</td>
					<td>کد ملی	</td>
					<td>نام مربی	</td>
					<td>تاریخ تولد‍‍	</td>
					<td>شماره تلفن	</td>
					<td>نشانی منزل	</td>
					<td>عکس</td>
				</tr>

				{% for UserProfile in all_student %}
				<tr>
					<td>{{ UserProfile.first_name }}	</td>
					<td>{{ UserProfile.last_name }} 	</td>
					<td>{{ UserProfile.father_name }}	</td>
					<td>{{ UserProfile.code }}	</td>
					<td>{{ UserProfile.national_code }}	</td>
					<td>{{ UserProfile.teacher }}	</td>
					<td>{{ UserProfile.born }}	</td>
					<td>{{ UserProfile.phone }}	</td>
					<td>{{ UserProfile.address}}	</td>
					<td><img src="{{ UserProfile.imgfile.url }} " width="50px"  height="50px">	</td>
				</tr>
                {% endfor %}

			</table>
        </div>

{%  endblock %}