{% extends 'base_panel.html' %}
        {% block add %}
        <div class="row fwc">
            <div class="content2 right w50p">
                <h3>شهریه</h3>
                <form action="#" method="post">
                    <input type="text" name="last_name" >
                    <input type="text" name="" placeholder="مبلغ کل شهریه">
                    <input type="text" name="" placeholder="تخفیف %">
                    <input type="text" name="" placeholder="پرداخت اولیه">
                    <input name="" type="submit" class="btn btn-danger" value="ثبت و ذخیره">
                    <input name="" type="reset" class="btn btn-success" value="پاک کردن فرم">
                </form>
            </div>
            <div class="clear">

            </div>
        </div>
        {% endblock %}
