{% extends 'base_panel.html' %}


        {% block title %}
            <title>مدیریت کلاس</title>
        {% endblock %}

{% block add %}

    <div class="row " >

<div class="col-lg-6 col-lg-offset-3   col-md-6 col-md-offset-2  col-sm-6 col-xs-5 " data-toggle="validator" role="form">
<span  class="label label-default">مشخصات کلاس درس</span>
       <form style="margin-top:10px;" id="contactform" class="form-horizontal" method="post" enctype="multipart/form-data">
           {% csrf_token %}

           
               
            {{ lesson.name }}
            {{ lesson.number }}
            {{ lesson.time }}
            {{ lesson.date }}
            {{ lesson.teacher }}
            <button id="send" type="submit" class="btn btn-lg btn-success">ارسال</button>
            
       </form>
</div>
    </div>
{% endblock %}
