{% extends 'base_panel.html' %}
{% load staticfiles %}
{% block add %}

    {% csrf_token %}
    <form action="/add_student/" id="contactform" method="post">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4 ">
                <div class="form-group">
                    <input name="code" class="form-control" type="text" placeholder="شماره صاد " value="{{ final }}">
                </div>
            </div>

            <div class="col-lg-4 col-lg-offset-4 col-md-4  col-md-offset-4 col-sm-3 col-sm-offset-6 col-xs-4 col-xs-offset-4">
                <div class="form-group">
                    <input class="form-control" type="file">
                </div>
            </div>

        </div>


        <div class="row ">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 " data-toggle="validator" role="form">
                <h3><span class="label label-default formlabel ">مشخصات فردی </span></h3>
                <div class="form-group">
                    <input name="first_name" class="form-control required" type="text" placeholder="نام ">
                </div>
                <div class="form-group  ">
                    <input name="last_name" class="form-control required" type="text" placeholder="نام خانوادگی ">
                </div>
                <div class="form-group">
                    <input name="father_name" class="form-control" type="text" placeholder="نام پدر ">
                </div>
                <div class="form-group">
                    <input name="national_code" class="form-control required" type="text" placeholder="شماره ملی  ">
                </div>
                <div class="form-group">
                    <input name="mail" class="form-control" type="text" placeholder="ایمیل  ">
                </div>
                <div class="form-group">
                    <input name="school" class="form-control" type="text" placeholder="مدرسه  ">
                </div>
                <div class="form-group">
                    <input name="school_time" class="form-control" type="text" placeholder="شیفت مدرسه  ">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="address" placeholder="آدرس"></textarea>
                </div>
                <div class="form-group">
                    <input name="born" class="form-control" type="text" placeholder="تاریخ تولد  ">
                </div>
                <div class="form-group">
                    <input name="mobile" class="form-control required" type="text" placeholder=". . . . . . . .9891+  ">
                </div>
                <div class="form-group">
                    <input name="phone" class="form-control" type="text" placeholder="تلفن منزل ">
                </div>
                <div class="form-group">
                    <input name="" disabled class="form-control" type="text" placeholder="آخرین مدرک تحصیلی ">
                    <select name="end_ejuction" id="cert" class="form-control selectpicker">
                        <option selected> دکتری</option>
                        <option>فوق لیسانس</option>
                        <option>لیسانس</option>
                        <option>فوق دیپلم</option>
                        <option>دیپلم</option>
                        <option>یازدهم</option>
                        <option>دهم</option>
                        <option>نهم</option>
                        <option>هشتم</option>
                        <option>هفتم</option>
                        <option>ششم</option>
                        <option>پنجم</option>
                        <option>چهارم</option>
                        <option>سوم</option>
                        <option>دوم</option>
                        <option>یکم</option>
                        <option>پیش دبستانی</option>
                        <option>عدم آغاز تحصیل</option>
                    </select>
                </div>

                <div clas="form-group">
                    <button class="btn bg-danger"> پاک کردن فرم</button>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">

                <h3><span class="label label-default formlabel ">مشخصات اولیا </span></h3>
                <div class="form-group">
                    <input name="father_phone" class="form-control required" type="text" lang="en "
                           placeholder="شماره همراه پدر">
                </div>
                <div class="form-group">
                    <input name="" disabled class="form-control " type="text" placeholder=" مدرک تحصیلی پدر ">
                    <select name="father_ejuction" id="cert" class="form-control selectpicker">
                        <option selected> دیپلم</option>
                        <option>لیسانس</option>
                        <option>فوق لیسانس</option>
                        <option>دکتری</option>
                        <option>سایر</option>
                    </select>
                </div>

                <div class="form-group ">
                    <input name="mother_phone" class="form-control required" type="text" placeholder="همراه مادر  ">
                </div>

                <div class="form-group">
                    <input name="mother_work" class="form-control " type="text" placeholder="شغل مادر ">
                </div>

                <div class="form-group">
                    <input name="" disabled class="form-control" type="text" placeholder=" مدرک تحصیلی مادر ">
                    <select name="mother_ejuction" id="cert" class="form-control selectpicker">
                        <option selected>زیر دیپلم</option>
                        <option> دیپلم</option>
                        <option>لیسانس</option>
                        <option>فوق لیسانس</option>
                        <option>دکتری</option>
                    </select>
                </div>
                <div>
                    <button class="btn bg-danger"> پاک کردن فرم</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                <h3><span class="label label-default formlabel ">وضعیت سلامتی </span></h3>

                <div class="form-group">
                    <input type="text" name="physical_illness" class="form-control" placeholder="بیماری جسمی ">
                </div>
                <div class="form-group">
                    <input type="text" name="physical_illness_medicine" class="form-control"
                           placeholder="داروی مورد مصرف ">
                </div>
                <div class="form-group">
                    <input type="text" name="mental_illness" class="form-control" placeholder="بیماری روحی و روانی">
                </div>
                <div class="form-group">
                    <input type="text" name="mental_illness_medicine" class="form-control"
                           placeholder="داروی مورد مصرف ">
                </div>
                <div class="form-group">
                    <textarea name="detail" class="form-control" placeholder="شرح حال"></textarea>
                </div>

                <div clas="form-group">
                    <button class="btn bg-danger"> پاک کردن فرم</button>
                    <button id="check-form" type="button" class="btn btn-warning">بررسی فرم</button>
                    <button id="send" class="btn bg-success"> ارسال</button>
                </div>


            </div>
        </div>


    </form>



{% endblock %}
