{% extends 'base_panel.html' %}
{% block title %}
    <title>ویرایش اطلاعات دانش آموزان</title>
{% endblock %}


{% block add %}
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-4 " >
            <div class="form-group">
                <input class="form-control" type="text" placeholder="شماره صاد " disabled>
            </div>
        </div>
        <div class="col-lg-5 col-lg-offset-6 col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-4 col-xs-2 col-xs-offset-2">

        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-4">
            <div class="form-group">
                <input class="form-control" type="file">
            </div>
        </div>
    </div>


    <div class="row ">
        <form id="contactForm">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 " data-toggle="validator" role="form">
            </div>
            <span> {{ student.first_name.title }} مشخصات فردی</span>

            <div class="form-group" >
                <input name="first_name"  class="form-control required" type="text" placeholder="نام " value="mmmm" >
            </div>

            <div class="form-group  ">
                <input name="last_name" class="form-control required" type="text" placeholder="نام خانوادگی ">
            </div>

            <div class="form-group">
                <input name="father_name" class="form-control" type="text" placeholder="نام پدر ">

            </div>

            <div class="form-group">

                <input name="national_code" class="form-control required" type="text" placeholder="شماره ملی  ">
            </div>
            <div class="form-group">
                <input name="born" class="form-control" type="text" placeholder="تاریخ تولد  ">
            </div>

            <div class="form-group">
                <input name="tel" class="form-control required" type="text" placeholder=". . . . . . . .9891+  ">
            </div>

            <div class="form-group">

                <textarea class="form-control" name="detail" placeholder="توضیحات"></textarea>
            </div>
            <span class="btn bg-danger"> پاک کردن فرم</span>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 " >

            <span>مشخصات اولیا</span>

            <div class="form-group">
                <input name="father_name" class="form-control required" type="text" placeholder="نام پدر">
            </div>
            <div class="form-group ">
                <input name="last_name" class="form-control required" type="text" placeholder="نام خانوادگی ">
            </div>
            <div class="form-group">
                <input name="father_phone" class="form-control required" type="text" lang="en " placeholder="شماره همراه پدر">
            </div>
            <div class="form-group">
                <input name="father_ejuction" class="form-control" type="text" placeholder="آخرین مدرک تحصیلی پدر  ">
            </div>

            <div class="form-group">
                <input name="" class="form-control " type="text" placeholder="آدرس محل کار پدر ">
            </div>
            <div class="form-group ">
                <input name="last_name" class="form-control required" type="text" placeholder="نام خانوادگی مادر ">
            </div>
            <div class="form-group">
                <input name="mother_phone" class="form-control required" type="text" lang="en " placeholder="شماره همراه مادر">
            </div>
            <div class="form-group">
                <input name="mother_ejuction" class="form-control" type="text" placeholder="آخرین مدرک تحصیلی مادر  ">
            </div>
            <span class="btn bg-danger"> پاک کردن فرم</span>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
            <span>وضعیت سلامتی </span>

            <div class="form-group">
                <input type="text" name="physical_illness" class="form-control" placeholder="بیماری جسمی ">
            </div>
            <div class="form-group">
                <input type="text" name="physical_illness_medicine" class="form-control" placeholder="داروی مورد مصرف ">
            </div>
            <div class="form-group">
                <input type="text" name="mental_illness" class="form-control" placeholder="بیماری روحی و روانی">
            </div>
            <div class="form-group">
                <input type="text" name="mental_illness_medicine" class="form-control" placeholder="داروی مورد مصرف ">
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="شرح حال"></textarea>
            </div>
            <span class="btn bg-danger"> پاک کردن فرم</span>
            <button type="button" class="btn btn-success">ذخیره</button>

        </div>
        <div id="success" class="success"></div>
        </form>
    </div>



{% endblock %}

{% comment %}{% extends 'base_panel.html' %}

{% block add %}
    <div class="content">
        {% if student.published_date %}
            <div class="date">
                {{ student.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=student.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ student.last_name }}</h1>
    </div>
{% endblock %}
{% endcomment %}


