{% extends 'base_panel.html' %}

{% block add %}
<div class="row " style="margin:0 auto; !important">
       <form id="contactform" class="form-horizontal" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           <div class="col-lg-12 col-md-10 col-sm-8 col-xs-8 " data-toggle="validator" role="form">
               <span>مشخصات مربی</span>

               <div class="form-group">
                    <label class="col-sm-2 control-label">عکس</label>
                    {{ teacher.imgfile }}
               </div>
               <div class="form-group">
                   {{ teacher.first_name }}
               </div>
               <div class="form-group">
                   {{ teacher.last_name }}
               </div>
               <div class="form-group">
                   {{ teacher.national_code }}
               </div>
               <div class="form-group">
                   {{ teacher.mobile }}
               </div>
               <div class="form-group">
                   {{ teacher.address }}
               </div>
               <div class="form-group">
                   {{ teacher.mail }}
               </div>
               <button id="check-form" type="button" class="btn btn-warning">بررسی</button>
               <button id="send" type="submit" class="btn btn-success">ارسال</button>
           </div>
       </form>
</div>

{% endblock %}