<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="css/bootstrap-rtl.css">-->

    <link rel="stylesheet" href="css/all.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css">

    <title>404</title>

</head>
<body class="error-page">



<div id="error-header">

</div>

<div id="error-wrapper">

	<h1>خطا</h1>

	<div id="error-code">404 Not Found</div>

	<div id="error-message">
		متاسفانه اطلاعات وودی معتبر نیست
	</div>

	<div id="error-actions">
		<a href="" class="btn btn- btn-primary">بازگشت</a>
	</div>

</div> <!-- #error-wrapper -->




        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/handler.js"></script>


        <script>
            $('#send').hide();
        </script>
        <script src="js/all.js"></script>

        <script>
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover();
            });
        </script>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>


</body>
</html>