{% extends 'Base.html' %}
{% block title %}
<title>ویرایش دانش آموز</title>
{% endblock %}

{% block main %}
    <div style="direction: rtl" id="content">

        <div id="contentHeader">
            <h1> مشخصات فردی دانش آموز</h1>
        </div>
        <!-- #contentHeader -->

        <div class="container">


            <div class="grid-16">

                <form class="form uniformForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="widget">

                        <div class="widget-header">
                            <span class="icon-article"></span>

                            <h3>مشخصات دانش آموز</h3>
                        </div>
                        <!-- .widget-header -->

                        <div class="widget-content">

                            <div class="field-group">
                                <label for="fname">صاد کد</label>

                                <div class="field">
                                    {{ student.code }}

                                </div>

                                <label for="fname">نام</label>

                                <div class="field">
                                    {{ student.first_name }}

                                </div>

                                <label for="lname">نام خانوادگی</label>

                                <div class="field">
                                   {{ student.last_name }}

                                </div>


                            </div>
                            <!-- .field-group -->

                            <div class="field-group">
                                <label for="cell">همراه</label>

                                <div class="field">
                                   {{ student.mobile }}
                                </div>
                            </div>
                            <!-- .field-group -->
                            <div class="field-group">
                                <label for="nacode">کدملی</label>

                                <div class="field">
                                     {{ student.national_code }}

                                </div>


                            </div>
                            <!-- .field-group -->

                            <div class="field-group">
                                <label for="email">ایمیل</label>

                                <div class="field">
                                    {{ student.mail }}
                                </div>

                            </div>
                            <!-- .field-group -->

                            <div class="field-group">
                                <label for="email">تاریخ تولد</label>
                                <div class="field">
                                    {{ student.born }}
                                </div>

                            </div>

                            <!-- .field-group -->
                            <div class="field-group">
                                <label for="fatname">نام پدر</label>

                                <div class="field">

                                   {{ student.father_name }}

                                </div>
                            </div>
                            <div class="field-group">
                                <label for="school">مدرسه</label>

                                <div class="field">

                                    {{ student.school }}

                                </div>
                            </div>
                            <div class="field-group">
                                <label for="shift">شیفت</label>

                                <div class="field">

                                    {{ student.school_time }}

                                </div>
                            </div>
                            <div class="field-group">
                                <label for="address">آدرس</label>

                                <div class="field">
                                    {{ student.address }}
                                </div>
                            </div>
                            <!-- .field-group -->
                            <div class="field-group">
                                <label for="homep">تلفن منزل</label>

                                <div class="field">
                                    {{ student.phone }}

                                </div>

                            </div>
                            <!-- .field-group -->
                            <div class="field-group">
                                <label for="educ">میزان تحصیلات</label>
                                    {{ student.end_ejuction }}
                            </div>
                            <!-- .field-group -->


                            <div class="field-group inlineField">
                                <label for="myfile">تصویر دانش آموز</label>
                                <div class="field">
                                    {{ student.imgfile }}
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- .widget -->

                    <div class="widget">

                        <div class="widget-header">
                            <span class="icon-article"></span>

                            <h3>وضعیت سلامتی</h3>
                        </div>
                        <!-- .widget-header -->

                        <div class="widget-content">

                            <div class="field-group">
                                <label for="jill">بیماری جسمی </label>

                                <div class="field">
                                    {{ student.physical_illness }}
                                </div>
                                <div class="field-group">
                                    <label for="medd">داروی مصرفی </label>

                                    <div class="field">
                                        {{ student.physical_illness_medicine}}
                                    </div>

                                    <div class="field-group">
                                        <label for="rill">بیماری روحی روانی</label>

                                        <div class="field">
                                            {{ student.mental_illness }}

                                        </div>
                                    </div>

                                    <div class="field-group">
                                        <label for="rill">داروی مصرفی</label>

                                        <div class="field">
                                            {{ student.mental_illness_medicine }}

                                        </div>
                                    </div>
                                    <div class="field-group">
                                        <label for="descr">شرح حال</label>

                                        <div class="field">
                                            {{ student.detail }}
                                        </div>
                                    </div>
                                    <!-- .field-group -->


                                </div>
                                <!-- .widget -->

                            </div>
                        </div>
                    </div>

                    <div class="widget">

                        <div class="widget-header">
                            <span class="icon-article"></span>

                            <h3>مشخصات اولیا</h3>
                        </div>
                        <!-- .widget-header -->

                        <div class="widget-content">

                            <div class="field-group">
                                <label for="fatph">همراه پدر</label>

                                <div class="field">
                                    {{ student.father_phone }}

                                </div>


                            </div>
                            <!-- .field-group -->
                            <div class="field-group">
                                <label for="motph">همراه مادر</label>

                                <div class="field">
                                    {{ student.mother_phone }}

                                </div>


                            </div>
                            <!-- .field-group -->
                            <div class="field-group">


                                <div class="field-group">
                                    <label for="fatedu">میزان تحصیلات پدر</label>
                                    {{ student.father_ejuction }}
                                </div>
                            </div>
                            <!-- .field-group -->

                            <div class="field-group">


                                <div class="field-group">
                                    <label for="motedu" >میزان تحصیلات مادر</label>
                                    {{ student.mother_ejuction }}
                                </div>
                            </div>
                            <!-- .field-group -->


                            <div class="field-group">
                                <button tabindex=23 class="btn-green btn-large"> تایید</button>

                            </div>

                        </div>

                    </div>
                    <!-- .widget -->
                </form>
            </div>
            <!-- .grid -->

            <div style="direction: rtl" class="grid-7">


                <div class="box">
                    <h3>مواردی که باید بدانید</h3>
                    <ul>
                        <li>آموزشگاه صاد هدفی جز موفقیت و جلب رضایت شما ندارد</li>
                        <li>آموزشگاه صاد هدفی جز موفقیت و جلب رضایت شما ندارد</li>
                        <li>آموزشگاه صاد هدفی جز موفقیت و جلب رضایت شما ندارد</li>
                        <li>آموزشگاه صاد هدفی جز موفقیت و جلب رضایت شما ندارد</li>
                        <li>آموزشگاه صاد هدفی جز موفقیت و جلب رضایت شما ندارد</li>
                    </ul>

                    <ul>
                        <li>آموزشگاه صاد هدفی جز موفقیت و جلب رضایت شما ندارد</li>
                        <li>آموزشگاه صاد هدفی جز موفقیت و جلب رضایت شما ندارد</li>
                        <li>آموزشگاه صاد هدفی جز موفقیت و جلب رضایت شما ندارد</li>
                        <li>آموزشگاه صاد هدفی جز موفقیت و جلب رضایت شما ندارد</li>

                    </ul>
                </div>
                <!-- .box -->
            </div>
            <!-- .grid -->

        </div>
        <!-- .container -->
    </div>
<!-- #content -->

{% endblock %}