{% load staticfiles %}
<!Doctype html>
<html lang="fa" style="font-family:BYekan;height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'new/css/bootstrap.min.css' %}">
    {#    <link rel="stylesheet" href="{% static 'new/css/bootstrap-rtl.css' %}">#}
    <link rel="stylesheet" href="{% static 'new/css/style.css' %}">

    <title>ورود</title>
</head>
<body style="background-color: #2e3c4f; height: 100%">


<button data-toggle="modal" data-target="#enter"
        style="font-family: BYekan;font-size:70px;color: #d3e6ff; height: 100%;width: 50%"
        class=" btn btn-lg  btn-danger"><span
        class="label label-info">ورود به عنوان کاربر</span></button>



<button  style="font-family: BYekan;font-size:70px;color: #fc6985; height: 100%;width: 49%"
        class=" btn btn-lg  btn-info"><span
        class="label label-danger">ورود به عنوان مهمان</span></button>

<div style="font-family: BYekan;" class="modal fade" id="enter" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" >
        <div style="background-color: #59aeed" class="modal-content">
            <div class="modal-header">
                <h4 style="text-align: center;color: #bce8f1" dir="rtl" class="modal-title" id="myModalLabel">فرم
                    ورود</h4>
            </div>
            <div class="modal-body">

                <div dir="rtl" class="widget">
                       <div style="text-align: center" class="widget-content">

                        <form class="form uniformForm" action="/login/" method="post">
                            {% csrf_token %}

                            <div class="field-group">
                                <label style="color: #bce8f1" for="use">نام کاربری</label>
                                <div class="field">
                                    <input type="text" name="username" id="use" size="29"/>
                                </div>
                            </div> <!-- .field-group -->


                            <div class="field-group">
                                <label style="color: #bce8f1" for="pass">رمز عبور</label>
                                <div class="field">
                                    <input type="password" name="password" id="pass" size="29"/>
                                </div>
                            </div> <!-- .field-group -->
                            <div style="margin-top: 10px" class="field-group">
                             <div class="field">
                         <button style="background-color: #008600" class="btn btn-info">تایید</button>
<button type="button" class="btn btn-danger" data-dismiss="modal">خروج</button>
                             </div>
                        </div>
                        </form>









                    </div>



                </div>

            </div>

        </div>

    </div>
</div>

        <script src="{% static 'new/js/jquery.min.js' %}"></script>
        <script src="{% static 'new/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'new/js/handler.js' %}"></script>
        <script src="{% static 'new/js/all.js' %}"></script>

        <script>
            $('#send').hide();
        </script>


        <script>
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover();
            });
        </script>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
</body>
</html>

