{% load staticfiles %}




<!Doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'new/css/login.css' %}" type="text/css"/>
      {% block title %}
        <title>صاد</title>
    {% endblock %}
</head>
<body dir="rtl">


<div id="login">
    <div id="login_panel">
        <form action="/login/" method="post" class="form uniformForm">
            {% csrf_token %}
            <div class="field-group" style="margin-right: 30px">

                <div class="field">
                    <label for="user">نام کاربری</label>
                    <input type="text" name="username"  id="user" tabindex=1 placeholder="username"/>
                </div>

                <div class="field">
                    <label for="password">رمز عبور </label>
                    <input type="password" name="password"  id="password" tabindex=2 placeholder="password"/>
                </div>
            </div> <!-- .login_fields -->

            <div style="background-color: #757575" class="login_actions">
                <button type="submit" class="btn btn-primary" tabindex="3">ورود</button>
            </div>
        </form>
    </div> <!-- #login_panel -->
</div> <!-- #login -->

<script src="{% static 'new/js/jquery.min.js' %}"></script>
<script src="{% static 'new/js/bootstrap.min.js' %}"></script>
<script src="{% static 'new/js/handler.js' %}"></script>
<script src="{% static 'new/js/all.js' %}"></script>


<script>
    $('#send').hide();
</script>


<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>

