{% extends 'Base.html' %}
{% block title %}
    <title>خانه</title>
{% endblock %}
{% block main %}


	<div lang="fa" dir="rtl" id="content">

		<div id="contentHeader">
			<h1  style="font-size: 35px">خانه</h1>
		</div> <!-- #contentHeader -->

<div class="container">


			<div class="grid-24">

				<div class="widget widget-plain">

					<div class="widget-content">

						<h2 class="dashboard_title">
							اطلاعات پورتال

						</h2>

						<div class="dashboard_report  activeState">
							<div class="pad">
								<span class="value">۴۴۳</span> تعداد دانش آموزان
							</div> <!-- .pad -->
						</div>

						<div class="dashboard_report activeState">
							<div class="pad">
								<span class="value">۳۴۳</span> افراد آنلاین
							</div> <!-- .pad -->
						</div>

						<div class="dashboard_report defaultState">
							<div class="pad">
								<span class="value">۳۳</span> کل کاربران
							</div> <!-- .pad -->
						</div>

						<div class="dashboard_report defaultState last">
							<div class="pad">
								<span class="value">۴۳</span>جلسات باقی مانده
							</div> <!-- .pad -->
						</div>


					</div> <!-- .widget-content -->

				</div> <!-- .widget -->
            </div>




			<div class="grid-17">

<div class="widget widget-tabs">
    <div class="widget-header">
							<span class="icon-chart"></span>
							<h3 class="icon chart">Area Chart</h3>
						</div>
<div id="Weekly" class="widget-content">

						<table class="stats" data-chart-type="bar" data-chart-colors="">
							<thead>
									<tr>

										<th>Week 18</th>
										<th>Week 19</th>
										<th>Week 20</th>
										<th>Week 21</th>
										<th>Week 22</th>
										<th>Week 23</th>
										<th>Week 24</th>
									</tr>

								</thead>

								<tbody>

									<tr>

										<td>492</td>
										<td>478</td>
										<td>507</td>
										<td>518</td>
										<td>505</td>
										<td>536</td>
										<td>561</td>
									</tr>

									<tr>

										<td>586</td>
										<td>652</td>
										<td>610</td>
										<td>658</td>
										<td>689</td>
										<td>674</td>
										<td>679</td>
									</tr>

									<tr>

										<td>689</td>
										<td>732</td>
										<td>845</td>
										<td>786</td>
										<td>815</td>
										<td>859</td>
										<td>907</td>
									</tr>
								</tbody>
						</table>
					</div> <!-- .widget-content -->

            </div>


</div>



 <div class="grid-7">
     <div class="box plain">
<div class="box">


				<div id="invoice_total">تماس با ما</div>

				<br />

				<h3>شبکه های اجتماعی</h3>

				<ul id="invoice_actions" class="">
					<li class="send"><a href="javascript:;">تلگرام</a></li>
					<li class="edit"><a href="javascript:;">اینستاگرام</a></li>
					<li class="print"><a href="javascript:;">توییتر</a></li>


				</ul>

			</div> <!-- .box -->


    </div>
     <div class="notify">



					<h3>اعلان</h3>

						<p>متن بلند متن بلند متن بلند متن بلند متن بلند متن بلند </p>
					</div> <!-- .notify -->



</div>
    <div class="grid-24">
        <div class="widget">

						<div class="widget-header">
							<span class="icon-chart"></span>
							<h3 class="icon chart">Area Chart</h3>
						</div>

						<div class="widget-content">
							<table class="stats" data-chart-type="area" data-chart-colors="">

								<thead>
										<tr>

											<th>Week 18</th>
											<th>Week 19</th>
											<th>Week 20</th>
											<th>Week 21</th>
											<th>Week 22</th>
											<th>Week 23</th>
											<th>Week 24</th>
										</tr>

									</thead>

									<tbody>

										<tr>

											<td>492</td>
											<td>478</td>
											<td>507</td>
											<td>518</td>
											<td>505</td>
											<td>536</td>
											<td>561</td>
										</tr>

										<tr>

											<td>586</td>
											<td>652</td>
											<td>610</td>
											<td>658</td>
											<td>689</td>
											<td>674</td>
											<td>679</td>
										</tr>

										<tr>

											<td>689</td>
											<td>732</td>
											<td>845</td>
											<td>786</td>
											<td>815</td>
											<td>859</td>
											<td>907</td>
										</tr>
									</tbody>
							</table>
						</div> <!-- .widget-content -->

				</div> <!-- .widget -->
{#        <div class="grid-24">#}
{#            #}
{#					<div class="notify">#}
{##}
{##}
{##}
{#					<h3>Default Notifty</h3>#}
{##}
{#						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.</p>#}
{#					</div> <!-- .notify -->#}
{##}
{##}
{##}
{#					<div class="notify notify-error">#}
{##}
{##}
{##}
{#						<h3>Error Notifty</h3>#}
{##}
{#						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.</p>#}
{#					</div> <!-- .notify -->#}
{##}
{#					<div class="notify notify-info">#}
{##}
{##}
{##}
{#						<h3>Information Notifty</h3>#}
{##}
{#						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.</p>#}
{#					</div> <!-- .notify -->#}
{##}
{##}
{#        </div>#}
    </div>

    </div>
    </div>
{% endblock %}