{% extends 'Base.html' %}
{% load staticfiles %}
{% block title %}
    <title>صفحه اصلی</title>
{% endblock %}
{% block main %}



    <div style="direction: rtl" id="content">
        <div id="contentHeader">
            <h1>صفحه اصلی</h1>
        </div> <!-- #contentHeader -->


        <div class="container">
            <div style="background-color: #cee6ee" class="grid-6 pull-right thumbnail" href="">
                <img style="width: 180px;height: 180px" src="{% static 'new/images/222.jpg' %}" alt="..."
                     class="  img-responsive img-circle">
                <div style="text-align: center" class="caption">
                    <h3>مهدی کریمی</h3>
                    <p>کد صاد</p>
                    <p><a href="#" class="btn btn-primary" role="button">نمایش اطلاعات</a> </p>
                    <p><a href="#" class="btn btn-default"
                          role="button">تغییر رمز عبور</a></p>
                </div>

            </div>

            <div dir="rtl" class="grid-18 pull-left panel-group" id="accordion" role="tablist"
                 aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                             وضعیت درسی شما
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            متن چیزی است که تأویل می‌شود، زیرا به روی تعداد نامحدودی از خواندن‌ها گشوده است که می‌توانند نوشتار را به گفتار زنده تبدیل کنند. متن گفتمانی است که با نوشتار تثبیت شود.[۱]

متن مجموعه‌ای واقعیات است که به عنوان نشانه‌ها به کار می‌رود و به قصد انتقال معانی خاص به یک شنونده، در یک بافت معین انتخاب و تنظیم می‌شود.[۲]

یکی از مفاهیمی که در رویکردها و جریان‌های نقد و نظریهٔ ادبی به طور گسترده و فراگیر حضور دارد؛ «متن» و مفاهیم، همبسته و وابسته به آن است.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo"
                               aria-expanded="true" aria-controls="collapseOne">
                            تکالیف جلسه آخر
                            </a>
                        </h4>
                    </div>
                    <div id="collapsetwo" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
متن چیزی است که تأویل می‌شود، زیرا به روی تعداد نامحدودی از خواندن‌ها گشوده است که می‌توانند نوشتار را به گفتار زنده تبدیل کنند. متن گفتمانی است که با نوشتار تثبیت شود.[۱]

متن مجموعه‌ای واقعیات است که به عنوان نشانه‌ها به کار می‌رود و به قصد انتقال معانی خاص به یک شنونده، در یک بافت معین انتخاب و تنظیم می‌شود.[۲]

یکی از مفاهیمی که در رویکردها و جریان‌های نقد و نظریهٔ ادبی به طور گسترده و فراگیر حضور دارد؛ «متن» و مفاهیم، همبسته و وابسته به آن است.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                               aria-expanded="true" aria-controls="collapseOne">
                                فایلهایی که جلسه آخر تدریس شد
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
متن چیزی است که تأویل می‌شود، زیرا به روی تعداد نامحدودی از خواندن‌ها گشوده است که می‌توانند نوشتار را به گفتار زنده تبدیل کنند. متن گفتمانی است که با نوشتار تثبیت شود.[۱]

متن مجموعه‌ای واقعیات است که به عنوان نشانه‌ها به کار می‌رود و به قصد انتقال معانی خاص به یک شنونده، در یک بافت معین انتخاب و تنظیم می‌شود.[۲]

یکی از مفاهیمی که در رویکردها و جریان‌های نقد و نظریهٔ ادبی به طور گسترده و فراگیر حضور دارد؛ «متن» و مفاهیم، همبسته و وابسته به آن است.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                               aria-expanded="true" aria-controls="collapseOne">
                            وضعیت حضور و غیاب شما در کلاس
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
متن چیزی است که تأویل می‌شود، زیرا به روی تعداد نامحدودی از خواندن‌ها گشوده است که می‌توانند نوشتار را به گفتار زنده تبدیل کنند. متن گفتمانی است که با نوشتار تثبیت شود.[۱]

متن مجموعه‌ای واقعیات است که به عنوان نشانه‌ها به کار می‌رود و به قصد انتقال معانی خاص به یک شنونده، در یک بافت معین انتخاب و تنظیم می‌شود.[۲]

یکی از مفاهیمی که در رویکردها و جریان‌های نقد و نظریهٔ ادبی به طور گسترده و فراگیر حضور دارد؛ «متن» و مفاهیم، همبسته و وابسته به آن است.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5"
                               aria-expanded="true" aria-controls="collapseOne">
                            پیام مربی برای اولیای شما
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
متن چیزی است که تأویل می‌شود، زیرا به روی تعداد نامحدودی از خواندن‌ها گشوده است که می‌توانند نوشتار را به گفتار زنده تبدیل کنند. متن گفتمانی است که با نوشتار تثبیت شود.[۱]

متن مجموعه‌ای واقعیات است که به عنوان نشانه‌ها به کار می‌رود و به قصد انتقال معانی خاص به یک شنونده، در یک بافت معین انتخاب و تنظیم می‌شود.[۲]

یکی از مفاهیمی که در رویکردها و جریان‌های نقد و نظریهٔ ادبی به طور گسترده و فراگیر حضور دارد؛ «متن» و مفاهیم، همبسته و وابسته به آن است.
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

{% endblock %}