<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="css/bootstrap-rtl.css">-->

    <link rel="stylesheet" href="css/all.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css">

    <title>پنل</title>

</head>
<body>
<div id="wrapper">
    <div id="header">
 <p dir="ltr">صاد</p>
	</div> <!-- #header -->

    <div id="search">
        <form>
            <input type="text" name="search" placeholder="Search..." id="searchField"/>
        </form>
    </div>
    <!-- #search -->
    <div id="sidebar">
        <ul id="mainNav">
            <li id="navDashboard" class="nav active">
                <span class="icon-home"></span>
                <a href="panel.html">خانه</a>
            </li>

            <li id="navPages" class="nav">
                <span class="icon-document-alt-stroke"></span>
                <a href="javascript:;">فرم های ثبت نام دانش آموزان </a>

                <ul class="subNav">
                    <li><a href="">قرآن آموز </a></li>
                    <li><a href="">زبان انگلیسی سطح 1</a></li>
                    <li><a href="">زبان انگلیسی سطح 2</a></li>
                    <li><a href="">رباتیک</a></li>

                </ul>

            </li>

            <li id="navForms" class="nav">
                <span class="icon-article"></span>
                <a href="javascript:;">لیست دانش آموزان </a>

                <ul class="subNav">
                    <li><a href="">قرآن آموز</a></li>
                    <li><a href="">دانش آموز زبان انگلیسی</a></li>
                    <li><a href="">دانش آموز زبان رباتیک</a></li>
                </ul>

            </li>



         <li id="navPages " class="nav">
                <span class="icon-document-alt-stroke"></span>
                <a href="javascript:;">فرم های ثبت نام مربیان </a>

                <ul class="subNav">
                    <li><a href="">دروس قرآن </a></li>
                    <li><a href="">زبان انگلیسی سطح 1</a></li>
                    <li><a href="">زبان انگلیسی سطح 2</a></li>
                    <li><a href="">رباتیک</a></li>

                </ul>

            </li>

            <li id="navForms " class="nav">
                <span class="icon-article"></span>
                <a href="javascript:;">لیست مربیان </a>

                <ul class="subNav">
                    <li><a href="">دروس قرآن </a></li>
                    <li><a href=""> زبان انگلیسی</a></li>
                    <li><a href=""> رباتیک</a></li>
                </ul>

            </li>
              <li id="navType" class="nav">
                <span class="icon-camera"></span>
                <a href="">گالری تصاویر </a>
            </li>

            <li id="navGrid" class="nav">
                <span class="icon-layers"></span>
                <a href="">درباره مربیان</a>
            </li>

            <li id="navButtons" class="nav">
                <span class="icon-info"></span>
                <a href="">درباره آموزشگاه </a>
            </li>

            <li id="navInterface" class="nav">
                <span class="icon-equalizer"></span>
                <a href="">پرسش و پاسخ </a>
            </li>

            <li id="navCharts" class="nav">
                <span class="icon-map-pin-fill"></span>
                <a href="">تماس با ما </a>
            </li>

            <li id="navMaps" class="nav">
                <span class="icon-check"></span>
                <a href="">ذخیره</a>
            </li>

            <li class="nav">
                <span class="icon-x"></span>
                <a href="javascript:;">خروج</a>

            </li>
        </ul>

    </div> <!-- #sidebar -->


    <div  id="content">



		<div  id="contentHeader">
			<h1>نمودارها</h1>
		</div> <!-- #contentHeader -->

		<div class="container">


				<div class="grid-17">
                    		<div class="widget widget-plain">



				</div> <!-- .widget -->
					<div class="widget">

						<div class="widget-header">
							<span class="icon-chart"></span>
							<h3 class="icon chart">آمار حضور غیاب دانش آموزان </h3>
						</div>

						<div class="widget-content">
							<table class="stats" data-chart-type="bar" data-chart-colors="">
								<caption>2009/2010 Sales by industry (Million)</caption>
								<thead>
										<tr>
											<td>&nbsp;</td>
											<th>Week 18</th>
											<th>Week 19</th>
											<th>Week 20</th>
											<th>Week 21</th>
											<th>Week 22</th>
											<th>Week 23</th>
											<th>Week 24</th>
										</tr>

									</thead>

									<tbody>

										<tr>
											<th>Year 2009</th>
											<td>492</td>
											<td>478</td>
											<td>507</td>
											<td>518</td>
											<td>505</td>
											<td>536</td>
											<td>561</td>
										</tr>

										<tr>
											<th>Year 2010</th>
											<td>586</td>
											<td>652</td>
											<td>610</td>
											<td>658</td>
											<td>689</td>
											<td>674</td>
											<td>679</td>
										</tr>

										<tr>
											<th>Year 2011</th>
											<td>689</td>
											<td>732</td>
											<td>845</td>
											<td>786</td>
											<td>815</td>
											<td>859</td>
											<td>907</td>
										</tr>
									</tbody>
							</table>
						</div> <!-- .widget-content -->

				</div> <!-- .widget -->




				<div class="widget">

						<div class="widget-header">
							<span class="icon-chart"></span>
							<h3 class="icon chart">رشد تحصیلی دانش آموزان</h3>
						</div>

						<div class="widget-content">
							<table class="stats" data-chart-type="line" data-chart-colors="">
								<caption>2009/2010 Sales by industry (Million)</caption>
								<thead>
										<tr>
											<td>&nbsp;</td>
											<th>Week 18</th>
											<th>Week 19</th>
											<th>Week 20</th>
											<th>Week 21</th>
											<th>Week 22</th>
											<th>Week 23</th>
											<th>Week 24</th>
										</tr>

									</thead>

									<tbody>

										<tr>
											<th>Year 2009</th>
											<td>492</td>
											<td>478</td>
											<td>507</td>
											<td>518</td>
											<td>505</td>
											<td>536</td>
											<td>561</td>
										</tr>

										<tr>
											<th>Year 2010</th>
											<td>586</td>
											<td>652</td>
											<td>610</td>
											<td>658</td>
											<td>689</td>
											<td>674</td>
											<td>679</td>
										</tr>

										<tr>
											<th>Year 2011</th>
											<td>689</td>
											<td>732</td>
											<td>845</td>
											<td>786</td>
											<td>815</td>
											<td>859</td>
											<td>907</td>
										</tr>
									</tbody>
							</table>
						</div> <!-- .widget-content -->

				</div> <!-- .widget -->








				<div class="widget">

						<div class="widget-header">
							<span class="icon-chart"></span>
							<h3 class="icon chart">بازده آموزشگاه</h3>
						</div>

						<div class="widget-content">
							<table class="stats" data-chart-type="area" data-chart-colors="">
								<caption>2009/2010 Sales by industry (Million)</caption>
								<thead>
										<tr>
											<td>&nbsp;</td>
											<th>Week 18</th>
											<th>Week 19</th>
											<th>Week 20</th>
											<th>Week 21</th>
											<th>Week 22</th>
											<th>Week 23</th>
											<th>Week 24</th>
										</tr>

									</thead>

									<tbody>

										<tr>
											<th>Year 2009</th>
											<td>492</td>
											<td>478</td>
											<td>507</td>
											<td>518</td>
											<td>505</td>
											<td>536</td>
											<td>561</td>
										</tr>

										<tr>
											<th>Year 2010</th>
											<td>586</td>
											<td>652</td>
											<td>610</td>
											<td>658</td>
											<td>689</td>
											<td>674</td>
											<td>679</td>
										</tr>

										<tr>
											<th>Year 2011</th>
											<td>689</td>
											<td>732</td>
											<td>845</td>
											<td>786</td>
											<td>815</td>
											<td>859</td>
											<td>907</td>
										</tr>
									</tbody>
							</table>
						</div> <!-- .widget-content -->

				</div> <!-- .widget -->


			</div> <!-- .grid -->



			<div class="grid-7">



			</div> <!-- .grid -->



		</div> <!-- .container -->

	</div> <!-- #content -->

        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/handler.js"></script>


        <script>
            $('#send').hide();
        </script>
        <script src="js/all.js"></script>

        <script>
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover();
            });
        </script>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>


</body>
</html>