@font-face {
    font-family: BYekan;
    src: url(../font/BYekan.eot) format('eot'),
    url(../font/BYekan.woff) format('woff'),
    url(../font/BYekan.ttf) format('truetype')
}
body{
    font-family: BYekan;
    background-color: #2e6da4;
    background-size: 100%;
    



}
.upic{

    border:3px solid #7bb8a8;
    font-size: 35px;
    border-radius: 10px;
    color: #66c9d4;
    margin-top: -150px;


}

.box1{
display: flex;
    justify-content: center;
    align-items: center;


}
.box1 img{
     margin-top: 80px;
   margin-left: 10px;

    border-radius: 20px;
    border:5px solid #7bb8a8;
    width: 160px;
    height: 160px;



}
.box1:hover img {
    border:5px solid #eee;
}

.buttons{
    display: flex;
           justify-content: center;
           align-items: center;
    margin-top:220px;

}
.carousel-control.right{
    background-image: linear-gradient(to right, rgba(1, 1, 0, 0) 0px, rgba(1, 1, 1, 0) 100%);
}
.carousel-control.left{
    background-image: linear-gradient(to right, rgba(1, 1, 0, 0) 0px, rgba(1, 1, 1, 0) 100%);
}



