@font-face {
    font-family: BYekan;
    src: url(../fonts/BYekan.eot) format('eot'),
    url(../fonts/BYekan.woff) format('woff'),
    url(../fonts/BYekan.ttf) format('truetype')
}
body{
    font-family: "B Yekan" !important;
    font-size: 25px !important;
    background-color: #67a79f;
}
.success {
    padding: 10px;
    color: green;
    width: 20%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}
.error {
    font-family: "B Yekan";
                color: red;
    font-weight: bold;
    font-size: 14px;
}
