{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'portal/js/jquery.min.js'%}"></script>
    <script src="{% static 'portal/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'portal/js/handler.js'%}"></script>
    <link rel="stylesheet" href="{% static 'portal/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'portal/css/bootstrap-rtl.css'%}">
    <link rel="stylesheet" href="{% static 'portal/css/style.css'%}">
    ‍{% block title %}
            <title>پنل</title>
    {% endblock %}
</head>


<body >
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            <nav class="navbar navbar-inverse ">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav1"
                                aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>

                    </div>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="کلمه مورد نظر . . .">
                        </div>
                        <button type="submit" class="btn btn-info">جستجو</button>
                    </form>
                    <div class="collapse navbar-collapse " id="nav1">
                        <ul class="nav navbar-nav ">
                            <li><a data-toggle="tooltip" data-placement="bottom"  title="خانه" href="/"><span  class="glyphicon glyphicon-home"></span></a></li>
                            <li><a data-toggle="tooltip" data-placement="bottom"  title="درباره ما" href="#"><span
                                    class="glyphicon glyphicon-question-sign"></span></a></li>
                            <li><a data-toggle="tooltip" data-placement="bottom"  title="جدید" href="/add_student"><span class="glyphicon glyphicon-plus-sign"></span></a>
                            </li>

                            <li><a data-toggle="tooltip" data-placement="bottom"  title="ذخیره" href="#"><span class="glyphicon glyphicon-floppy-disk"></span></a></li>
                            <li><a data-toggle="tooltip" data-placement="bottom"  title="خروج " href="#"><span class="glyphicon glyphicon-off"></span></a></li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    {% block add %}
    {% endblock %}
</div>


<script>
        var video = document.querySelector("#videoElement");

navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

if (navigator.getUserMedia) {
    navigator.getUserMedia({video: true}, handleVideo, videoError);
}

function handleVideo(stream) {
    video.src = window.URL.createObjectURL(stream);
}


</script>




<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>


</body>
</html>
